@mixin max-1800{
    @media (max-width: 1800px) { @content; }
}

@mixin min-1000{
    @media (min-width: 1000px) { @content; }
}

@mixin min-1200{
    @media (min-width: 1200px) { @content; }
}

@mixin min-1800{
    @media (min-width: 1800px) { @content; }
}

@mixin max-1400{
    @media (max-width: 1400px) { @content; }
}
@mixin max-height-640{
    @media (max-height:640px) { @content; }
}

@mixin max-1200{
    @media (max-width: 1200px) { @content; }
}

@mixin max-1000{
    @media (max-width: 1000px) { @content; }
}

@mixin max-767{
    @media (max-width: 767px) { @content; }
}

@mixin min-600px-max-1000{
    @media (min-width: 600px) and (max-width: 1000px) { @content; }
}

@mixin min-600-height-max-750-height{
    @media (min-height: 600px) and (max-height: 750px) { @content; }
}

@mixin min-width-1400px-min-height-800{
    @media (min-width: 1400px) and (min-height: 800px) { @content; }
}


@mixin min-1000px-max-1200{
    @media (min-width: 1000px) and (max-width: 1200px) { @content; }
}

@font-face {
    font-family: chronicle display;
    src: url(../fonts/ChronicleDisplay-Light.woff2) format('woff2'),url(../fonts/ChronicleDisplay-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ringside;
    src: url(../fonts/RingsideRegular-Med.woff2) format('woff2'),url(../fonts/RingsideRegular-Med.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

.golf-baner-sec{
    height: 100vh;
    // height: 100svh;
    overflow: hidden;
    background: url(../images/cloud-banner.png) no-repeat center bottom;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    @include min-600-height-max-750-height(){
        top: 0!important;
    }
    .center-building-sec{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;
        
        .building-title{
            position: absolute;
            left:0; 
            top: 18vh;
            width:100%;
            text-align: center;
            @include max-1400(){
                top: 18vh;
            }
            @include max-1200(){
                top: -95px;
                 
            }
            @include min-1000px-max-1200(){
                top: 60px;
            }
            
            @include max-height-640(){
                top: 0;
            }
            @include min-600px-max-1000(){
                top: 80px;
            }
            h1{
                font-size: 84px;
                font-family: chronicle display;
                text-transform: uppercase;
                @include max-1400(){
                    font-size: 60px;
                }
                @include min-600px-max-1000(){
                    font-size: 35px;
                }
                @include max-1000(){
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }
            .logo-icon{
                margin-bottom: 20px;
                img{
                    @include max-1400(){
                        width: 60px;
                    }
                   
                }
            }
            p{
                font-family: ringside;
                font-size: 18px;
                letter-spacing:1px;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: -15px;
                @include max-1000(){
                    margin-bottom: 0;
                }
                @include max-1400(){
                    font-size: 14px;
                }
            }
        }

        .s-logo{
            position: absolute;
            left: 10%;
            top: 20px;
            @include min-width-1400px-min-height-800(){
                top: 50px;
            }   

            @include max-1000(){
                top: 12vh;
                left: 50%; 
                transform: translate(-50%, 0);
            }
            @include min-600px-max-1000(){
                transform: translate(-0%, 0);
                left: 20px;
            }
        }
        
    }
    .buidling-part{
        position: relative;
    }
    .camp-logo{
        position: absolute;
        left: 0;
        width: 100%;
        top: 20px;
        text-align: center;
        @include min-width-1400px-min-height-800(){
            top: 50px;  
        }
        @include max-1000(){
            top: 20vh;
        }
        @include min-600px-max-1000(){
            left: auto;
            right: 20px;
            top: 20px;
            text-align: right;
        }
        @include max-height-640(){
            left: auto;
            right: 20px;
            top: 20px;
            text-align: right;   
        }

    }
    .center-build{
        width: 100%;
        transform: scale(1.2);
        position: relative;
        bottom: -50px;
        @include max-767(){
            transform: scale(2);
            bottom:0px;
        }
        @include min-600px-max-1000(){
            transform: scale(1.2);
        }
        &.for-desk{
            @include max-767(){
                display: none;
            }
        }
        &.for-mob{
            display: none;
            @include max-767(){
                display: block;
            }
        }
        
    }
    .golf-man{
        position: absolute;
        bottom: -597px;
        left: 20%;
        z-index: 1;
        transform: scale(0.7);
        &.golf-man-desk{
            @include max-1000(){
                display: none;
            }
        }
        &.golf-man-mobile{
            display: none;
            @include max-1000(){
                display: block;
            }
        }
        @include max-1000(){
            left: 5%;
            bottom: -350px;
        }
        img{
            @include max-1000(){
               width: 350px;
            }
        }
    }
}



@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1.4s;
   }
 